.DS_Store
.idea
*.log
tmp/


boards/*.drills.xln
boards/*.drills.dri
boards/*.ger
boards/*.gpi
boards/*.zip
boards/*.png
boards/*.webp
boards/*-default.brd
boards/*-Beta.brd
boards/*-Min.brd
boards/*-Tele.brd
boards/*-MinS.brd
boards/*.pdf
boards/*.b\#\#
boards/*.b\#1
boards/*.s\#\#

info.json
